* {
	margin: 0;
	padding: 0;
	font-family:Microsoft YaHei ,'Raleway', Arial, sans-serif;
}
a{
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}
ul,li{
	list-style: none;
}
.container-right img{
	cursor: pointer;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}
.container-right img:hover{
	transform: translateY(-4px);
	-ms-transform: translateY(-4px);		/* IE 9 */
	-webkit-transform: translateY(-4px);	/* Safari and Chrome */
	-o-transform: translateY(-4px);		/* Opera */
	-moz-transform: translateY(-4px);		/* Firefox */
}
.content {
	background-color: #dcdddd;
	width: 100%;
}

.nav {
	width: 1200px;
	height: 45px;
	margin: 0 auto;
	background-color: #80283c;
}

.nav ul {
	margin-left: 75px;
}

.nav ul li {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	margin-left: -8px;
}

.nav ul li a {
	font-size: 15px;
	color: white;
	text-decoration: none;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	border-right: 1px solid white;
	padding: 0 20px;
}

.nav ul li:hover{
	color: #D2BE3D;
	background-color: #66192C;
	height: 60px;
	border-radius: 0px 0px 10px 10px;
}
.nav ul li:hover a{
	color: #D2BE3D;
}
.nav ul li .none {
	border-right: none;
}

.nav ul .red {
	display: inline-block;
	width: 101px;
	text-align: center;
	background-color: #66192c;
	height: 60px;
	border-radius: 0 0 10px 10px;
}

.logo {
	width: 1200px;
	margin: 0 auto;
	height: 126px;
	background-image: url(../img/bg.jpg);
}

.logo img {
	margin-top: 38px;
	margin-left: 350px;
}

.container {
	width: 1198px;
	margin: 0 auto;
	background-color: #1e1d18;
	padding: 1px;
	position: relative;
}

.container-left {
	width: 306px;
	height: 441px;
	background-color: #80283c;
	border-radius: 0 30px 30px 0;
	display: inline-block;
	padding: 1px;
	position: relative;
	top: -48px;
	left: -1px;
	top: -356px
}
.container-left b{
	margin-right: 4px;
}
.container-left p {
    font-size: 25px;
    color: #FFF;
    display: block;
    width: 248px;
    height: 62px;
    text-align: center;
    line-height: 77px;
    margin-top: 83px;
    margin-left: 59px;
    border-radius: 12px 0px 0px 12px;
    letter-spacing: 2px;
}

.container-left ul {
	margin-top: 10px;
	margin-left: 107px;
}

.container-left ul li {
    font-size: 18px;
    color: #FFF;
    width: 160px;
    height: 44px;
    line-height: 44px;
    border-top: 1px solid #FFF;
    letter-spacing: 2px;
}
.li-red {
    background-color: #66192C;
    border-radius: 10px 0px 0px 10px;
    letter-spacing: 0.5px;
    display: inline-block;
    margin-left: -5px;
    width: 202px;
    position: absolute;
    left: 88px;
    padding-left: 23px;
    height: 44px;
}

.bb {
	border-bottom: 1px solid white;
}

.container-right {
	display: inline-block;
	margin-top: 50px;
	margin-left: 34px;
}

.container2 {
	width: 860px;
	height: 180px;
	margin-left: 266px;
	overflow: hidden;
}

.container2 .center {
	width: 1900px;
	display: inline-block;
	margin-left: 14px;
	left: -296px;
}

.container2 .center img {
	margin-right: 38px;
	transition: all .5s;
	-moz-transition: all .5s;	/* Firefox 4 */
	-webkit-transition: all .5s;	/* Safari ºÍ Chrome */
	-o-transition: all .5s;	/* Opera */
	cursor: pointer;
}
.container-left li{
	cursor: pointer;
}
.container-left li:hover{
	color: #D2BE3D;
}

.container2 .center img:hover {
	transform: scale(1.1);
	-ms-transform: scale(1.1);		/* IE 9 */
	-webkit-transform: scale(1.1);	/* Safari and Chrome */
	-o-transform: scale(1.1);		/* Opera */
	-moz-transform: scale(1.1);		/* Firefox */
}
.left {
	position: relative;
	left: 240px;
	float: left;
	z-index: 999;
	top: -178px;
	cursor: pointer;
}

.right {
	position: relative;
	z-index: 999;
	float: right;
	top: -180px;
	left: -32px;
	cursor: pointer;
}

.center {
	position: relative;
	z-index: 1;
}
.foot {
	width: 767px;
	height: 166px;
	margin: 0 auto;
}

.foot span {
	display: inline-block;
	color: #9fa0a0;
	font-size: 12px;
	font-family: "微软雅黑";
	position: relative;
	top:44px;
}

.foot input {
	float: right;
	margin-top: 16px;
	margin-right: 0px;
	width: 165px;
	height: 26px;
	background-color: #812a3d;
	border: none;
	font-size: 20px;
	color: white;
	background-image: url(../img/icon6.png);
	background-repeat: no-repeat;
	background-position: 98% 46%;
}
.foot img{
	margin-top: 20px;
	margin-left: 164px;
}
.foot span:first-child{
	margin-right: 27px;
}